/* Styling for the Main page and profile page! */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.post-card {
  width: 100%;
  border-bottom: black 1px solid;
  margin-bottom: 5px;
}

.post-card:hover {
  box-shadow: 1px 3px 5px;
  background-color: lightgray;
}

.blog-post h2 {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 8px;
}

.blog-post h2:hover {
  color: #f1356d;
}

/* layout for the main page  */
.main-page-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  /* Adjust the width of the profile column as needed */
  grid-gap: 16px;
  /* Adjust the gap between columns as needed */
  height: 100vh;
  /* Set the height of the grid to 100% of the viewport height */
  outline: black;
}

/* Style for the profile column (left side) */
.profile-container {
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

/* Style for the content column (right side) */
.main-content-container {
  background-color: #ffffff;
  margin-left: 250px;
  /* Adjust the margin to match the width of the profile column */
}

.profile-section {
  text-align: center;
  border-right: black 2px solid;
  border-radius: 2px;
}

.post-blog-button {
  font-size: 20px;
  margin-top: 20px;
}

.post-blog-button:hover {
  background-color: #f1356d;
  color: white;
}

.post-blog-button {
  background-color: #007bff;
  /* Background color */
  color: #fff;
  /* Text color */
  border: none;
  /* Remove the button border */
  padding: 10px 20px;
  /* Add padding for better appearance */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Show a pointer cursor on hover */
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}