/* Styling for the Main page and profile page! */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  color: black;
  border-radius: 5%;
}