/* styling for the login page and create user page */
/* This page styles all of the log in and create user pages */

button {
  background-color: #f9f9f9;
}

/* both login form and creat user form are being styled here */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-user-name {
  margin-top: 15px;
}